<h1 class="text-center">Ember.js Developer Exercises</h1>

<nav>
    <ul class="list-unstyled text-center">
        <li>
            {{#link-to 'html-css-exercise' class="btn btn-primary"}}HTML and CSS Exercise{{/link-to}}
        </li>
        <li>
            {{#link-to 'credit-card-exercise' class="btn btn-primary"}}Ember Component Exercise{{/link-to}}
        </li>
        <li>
            {{#link-to 'coding-exercise' class="btn btn-primary"}}Javascript Coding Exercise{{/link-to}}
        </li>
    </ul>
</nav>

{{outlet}}