<div class="panel panel-default" id="geometric-sequence-exercise">
    <div class="panel-heading"><strong>Geometric Sequence</strong></div>
    <div class="panel-body">
        <h2>Instructions:</h2>
        <p>
            Modify the existing <code>geometric-sequence</code> component to meet the following criteria:
        </p>
        <ol>
            <li>When the button is clicked, add the next number of the sequence to the end of the <code>geometricSequence</code>
                array. <i>
                    <small>(geometric sequence: 1, 2, 4, 8, 16, etc...)</small>
                </i></li>

            <li>Update the <code>reverseSequence</code> property to reverse the geometric sequence array.</li>

            <li>When adding an item, if there are more than ten items in the array, remove the smallest number.</li>

            <li>If the array reaches 2^15, reset the array to its original contents.</li>
        </ol>
        <h2>Results:</h2>
        <div>
            {{geometric-sequence}}
        </div>
        <h2>Notes:</h2>
        <p>
            Refer to <a target="_blank" href="http://emberjs.com/api/classes/Ember.Component.html">Ember component
            documentation</a> as necessary.
        </p>
        <p>
            Visit <a target="_blank" href="http://localhost:4200/tests">localhost:4200/tests</a> to view test results.
        </p>
        <p>To complete this task, you will needy to modify the following file:
        <ul>
            <li><code>components/geometric-sequence.js</code></li>
        </ul>
        </p>
    </div>
</div>